#carres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.carre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.carre_bas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}