#follow_us {
    height: 50vh;
    background-color: gray;
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#cards {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    transition: 0.5s;
}

.card.active {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

span {
    opacity : 0;
    transition: 0.5s;
}

.span.active {
    opacity: 1;
}

#Insta {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833ab4, #c13584, #e1306c, #fd1d1d);
}

#Facebook {
    background: linear-gradient(120deg, #3b5998, white);
}

#Twitter {
    background: linear-gradient(45deg, #66757f, #00acee, #36d8ff, #f5f8fa, #ffffff);
}
